* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

:root {
    --branco: #ffffff;
    --font1: Verdana;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 25px;
    font-weight: bold;
}

header {
    background: linear-gradient(90.05deg, #000000 24.85%, #006384 64.76%, #002F45 99.45%), #006384;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    font-family: var(--font1);
    display: flex;
    justify-content: center;
}

.botao_nav {
    display: flex;
    justify-content: space-between;
    color: var(--branco);
    align-items: center;
    width: 96%;
}

.logo {
    width: 5%;
}

.botao_fechar svg {
    fill: var(--branco);
    text-decoration: none;
    height: 40px;
}

/*BANNER*/

.banner {
    background-image: url(../img/background.png);
    /*height: 944px;*/
    background-size: cover;
}

/* INICIO MENU INTERATIVO*/

.posiciomaneto_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}
.posiciomaneto_menu img {
    width: 100px;
}  
.menu_barras{
    position: absolute;
    left: 40px;
    top: 140px;
    display: initial;  
}
.menu_lateral{
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 99, 132, 0.24) 81.56%, rgba(0, 99, 132, 0) 130%);
    backdrop-filter: blur(48.5px); 
    font-family: var(--font1);
    flex-direction: column;
    align-items: center;
    display: none;    
    z-index: 1;
    position: absolute;
    left: 30px;
    top: 100px; 
    font-weight: bold;
} 
.menu_lateral a {
    color: var(--branco);
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    font-size: 20PX; 
} 
.menu_lateral a img{
    width: 100%;
}
hr {
    width: 90px;
    height: 2px;
    background-color: var(--branco);
}

.menu_barras svg{
    height: 60px;
}

/*MENU CADASTRO*/

.menu_lateral_cadastro{
    background: radial-gradient(rgba(0, 99, 132, 0.24) 81.56%, rgba(0, 99, 132, 0) 130%);
    backdrop-filter: blur(48.5px);  
    border-radius: 5%;
    font-family: var(--font1);
    flex-direction: column;
    align-items: center;
    display: none;  
    z-index: 1; 
    position: absolute;
    left: 230px;
    top: 220px;  
    font-weight: bold;
    border: 1px solid var(--branco);
} 
.menu_lateral_cadastro a {
    color: var(--branco);
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    font-size: 15px; 
} 

/*MENU ESTOQUE*/
 
.menu_lateral_estoque{
    background: radial-gradient(rgba(0, 99, 132, 0.24) 81.56%, rgba(0, 99, 132, 0) 130%);
    backdrop-filter: blur(48.5px); 
    border-radius: 5%;
    font-family: var(--font1);
    flex-direction: column;
    align-items: center;
     display: none;  
     z-index: 1; 
     position: absolute;
    left: 230px;
    top: 290px;  
    font-weight: bold;
    border: 1px solid var(--branco);
} 
.menu_lateral_estoque a {
    color: var(--branco);
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    font-size: 15px; 
}  
/*MENU PEDIDOS*/
 
.menu_lateral_pedidos{
    background: radial-gradient(rgba(0, 99, 132, 0.24) 81.56%, rgba(0, 99, 132, 0) 130%);
    backdrop-filter: blur(48.5px); 
    border-radius: 5%; 
    font-family: var(--font1);
    flex-direction: column;
    align-items: center;
     display: none;  
     z-index: 1; 
     position: absolute;
    left: 230px;
    top: 360px;  
    font-weight: bold;
    border: 1px solid var(--branco);
    
} 
.menu_lateral_pedidos a {
    color: var(--branco);
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    font-size: 15px; 
} 

/*MENU RELATORIOS*/
 
.menu_lateral_relatorios {
    background: radial-gradient(rgba(0, 99, 132, 0.24) 81.56%, rgba(0, 99, 132, 0) 130%);
    backdrop-filter: blur(48.5px);  
    border-radius: 5%; 
    font-family: var(--font1);
    flex-direction: column;
    align-items: center;
     display: none;
     z-index: 1; 
     position: absolute;
    left: 230px;
    top: 420px;  
    font-weight: bold;
    border: 1px solid var(--branco);
} 
.menu_lateral_relatorios a {
    color: var(--branco);
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    font-size: 15px; 
} 
/* FINAL MENU INTERATIVO*/

/*FORMULARIO*/

.section__formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
}

.formulario-central {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 600px;
}

.div__alinhamento_campos {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 100%;
    color: var(--branco);
}

.div__alinhamento_campos input {
    margin-top: 11px;
    margin-bottom: 28px;
    background: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(4px);
    border-radius: 5px;
    width: 100%;
    /*width: 468px;*/
    height: 35px;
    color: var(--branco);
}

/*Inicio do Conteudo Altura + Rua*/

.div__alinhamento_altura_rua {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /*width: 468px;*/
    /*max-width: 600px;*/
    color: var(--branco);
    font-size: 20px;
}

.div__alinhamento_altura_rua .div__alinhamento__altura {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.div__alinhamento_altura_rua .div__alinhamento__rua {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.div__alinhamento_altura_rua .div__alinhamento__altura input {
    background-color: #006384;
    color: var(--branco);
    font-size: 15px;
    background: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(4px);
    border-radius: 5px;
    margin-top: 11px;
    margin-bottom: 28px;
    height: 35px;
}

.div__alinhamento_altura_rua .div__alinhamento__rua input {
    background-color: #006384;
    color: var(--branco);
    font-size: 15px;
    background: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(4px);
    border-radius: 5px;
    margin-top: 11px;
    margin-bottom: 28px;
    height: 35px;
}

/*Fim do Conteudo Altura + Rua*/

/*Inicio do Conteudo Cod sap + Coluna*/

.div__alinhamento_codsap_coluna {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /*max-width: 700px;*/
    color: var(--branco);
    font-size: 20px;
}

.div__alinhamento_codsap_coluna .div__alinhamento__codsap {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.div__alinhamento_codsap_coluna .div__alinhamento__coluna {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.div__alinhamento_codsap_coluna .div__alinhamento__coluna input {
    background-color: #006384;
    color: var(--branco);
    font-size: 15px;
    background: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(4px);
    border-radius: 5px;
    margin-top: 11px;
    margin-bottom: 28px;
    height: 35px;
}

.div__alinhamento_codsap_coluna .div__alinhamento__codsap input {
    background-color: #006384;
    color: var(--branco);
    font-size: 15px;
    background: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(4px);
    border-radius: 5px;
    margin-top: 11px;
    margin-bottom: 28px;
    height: 35px;
}

/*Fim do Conteudo Cod sap + Coluna*/

.botao_inserir {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

/*RESPONSIVO*/

@media only screen and (max-width: 550px) {

    .div__alinhamento_altura_rua,
    .div__alinhamento_codsap_coluna {
        flex-direction: column;
    }

    .div__alinhamento__altura,
    .div__alinhamento__rua,
    .div__alinhamento_altura_rua .div__alinhamento__altura {
        width: 100%;
    }

    .div__alinhamento_altura_rua .div__alinhamento__rua {
        width: 100%;
    }

    .div__alinhamento_codsap_coluna .div__alinhamento__codsap,
    .div__alinhamento_codsap_coluna .div__alinhamento__coluna {
        width: 100%;
    }

    h1 {
        font-size: 20px;
    }

    .botao_inserir{
        width: 150px;
        height: 50px;
        border: 1px solid #000;
        background: #D9D9D9;
    }
}