* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url(../img/background.png);
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 650px;
    background-size: cover;
    justify-items: center;
}

header {
    background: linear-gradient(90.05deg, #000000 24.85%, #006384 64.76%, #002F45 99.45%), #006384;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    width: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #C8D5DC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;

}

.posicionamento_header {
    display: flex;
    width: 98%;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo a img{
    width: 90px;
    height: 90px;
}

.datas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;

    
}

.sec_datas{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 200px;
}

.data_inicial,
.data_final,
main{
    display: flex;
    flex-direction: column;
    color: #C8D5DC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn_visualizar button{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0073B0 100%);
    border: 1px solid #C8D5DC;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    text-transform: uppercase;
    color: #C8D5DC;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoes button{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0073B0 100%);
    border: 1px solid #C8D5DC;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    text-transform: uppercase;
    color: #C8D5DC;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.botoes {
    width: 300px;
    display: flex;
    justify-content: space-between;
}