* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --branco: #ffffff;
    --font1: Verdana;
}
    
h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 25px;
    font-weight: bold;
}

header {
    background: linear-gradient(90.05deg, #000000 24.85%, #006384 64.76%, #002F45 99.45%), #006384;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    font-family: var(--font1);
    display: flex;
    justify-content: center;
}
.botao_nav {
    display: flex;
    justify-content: space-between;
    color: var(--branco);
    align-items: center;
    width: 96%;
}
.logo {
    width: 5%;
}
.botao_fechar svg {
    fill: var(--branco);
    text-decoration: none;
    height: 40px;
}

/*BANNER*/

.banner {
    background-image: url(../img/background.png); 
    height: 944px;
    background-size: cover;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* INICIO MENU INTERATIVO*/

.posiciomaneto_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}
.posiciomaneto_menu img {
    width: 100px;
}  
.menu_barras{
    position: absolute;
    left: 40px;
    top: 140px;
    display: initial;  
}
.menu_lateral{
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 99, 132, 0.24) 81.56%, rgba(0, 99, 132, 0) 130%);
    backdrop-filter: blur(48.5px); 
    font-family: var(--font1);
    flex-direction: column;
    align-items: center;
    display: none;    
    z-index: 1;
    position: absolute;
    left: 30px;
    top: 100px; 
    font-weight: bold;
} 
.menu_lateral a {
    color: var(--branco);
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    font-size: 20PX; 
} 
.menu_lateral a img{
    width: 100%;
}
hr {
    width: 90px;
    height: 2px;
    background-color: var(--branco);
}

.menu_barras svg{
    height: 60px;
}

/*MENU CADASTRO*/

.menu_lateral_cadastro{
    background: radial-gradient(rgba(0, 99, 132, 0.24) 81.56%, rgba(0, 99, 132, 0) 130%);
    backdrop-filter: blur(48.5px);  
    border-radius: 5%;
    font-family: var(--font1);
    flex-direction: column;
    align-items: center;
    display: none;  
    z-index: 1; 
    position: absolute;
    left: 230px;
    top: 220px;  
    font-weight: bold;
    border: 1px solid var(--branco);
} 
.menu_lateral_cadastro a {
    color: var(--branco);
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    font-size: 15px; 
} 

/*MENU ESTOQUE*/
 
.menu_lateral_estoque{
    background: radial-gradient(rgba(0, 99, 132, 0.24) 81.56%, rgba(0, 99, 132, 0) 130%);
    backdrop-filter: blur(48.5px); 
    border-radius: 5%;
    font-family: var(--font1);
    flex-direction: column;
    align-items: center;
     display: none;  
     z-index: 1; 
     position: absolute;
    left: 230px;
    top: 290px;  
    font-weight: bold;
    border: 1px solid var(--branco);
} 
.menu_lateral_estoque a {
    color: var(--branco);
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    font-size: 15px; 
}  
/*MENU PEDIDOS*/
 
.menu_lateral_pedidos{
    background: radial-gradient(rgba(0, 99, 132, 0.24) 81.56%, rgba(0, 99, 132, 0) 130%);
    backdrop-filter: blur(48.5px); 
    border-radius: 5%; 
    font-family: var(--font1);
    flex-direction: column;
    align-items: center;
     display: none;  
     z-index: 1; 
     position: absolute;
    left: 230px;
    top: 360px;  
    font-weight: bold;
    border: 1px solid var(--branco);
    
} 
.menu_lateral_pedidos a {
    color: var(--branco);
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    font-size: 15px; 
} 

/*MENU RELATORIOS*/
 
.menu_lateral_relatorios {
    background: radial-gradient(rgba(0, 99, 132, 0.24) 81.56%, rgba(0, 99, 132, 0) 130%);
    backdrop-filter: blur(48.5px);  
    border-radius: 5%; 
    font-family: var(--font1);
    flex-direction: column;
    align-items: center;
     display: none;
     z-index: 1; 
     position: absolute;
    left: 230px;
    top: 420px;  
    font-weight: bold;
    border: 1px solid var(--branco);
} 
.menu_lateral_relatorios a {
    color: var(--branco);
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    font-size: 15px; 
} 
/* FINAL MENU INTERATIVO*/


/* SECAO FORMULARIO*/

.aj_section__formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.aj_formulario-central {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 700px;
}

.aj_div__alinhamento_campos {
    display: flex;
    flex-direction: column;
    font-family: var(--font1);
    font-size: 20px;
    width: 100%;
    color: var(--branco);
    margin: 20px 0 0 0;
    

}

.aj_div__alinhamento_campos_quantidade {
    width: 90%;
    max-width: 700px;
    color: var(--branco);
    font-size: 20px;
    font-family: var(--font1);
    display: flex;
    flex-direction: column;
}

.aj_div__alinhamento_campos input {
    margin-top: 11px;
    margin-bottom: 35px;
    background: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(4px); 
    border-radius: 5px;
    width:90%;
    height: 35px;
    color: var(--branco);
}

.aj_botao {
    height: 40px;
    width: 120px;
    border-radius: 10px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--font1);
    margin: 0 0 -20px 0;
}

.aj_section__formulario_table {
     background: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(4px); 
    border-radius: 5px;
    width: 100%;
    height: 35px;
    padding: 10px 0 20px 0;
}


table * {
    border: 1px solid var(--branco);
    width: 20%;
}

/*Respansividade*/

@media screen and (max-width: 768px) {

    h1{
        font-size: 20px;
    }
     h2{
        font-size: 18px;
    } 
    .banner{
        height: 1200px;
    }
    .botao_fechar svg {
        height: 15px;
    }
    .aj_formulario-central{
        display: flex;
        flex-direction: column;
    }
    .aj_div__alinhamento_campos input { 
        width:100%;
    }
    .aj_botao{
        font-size: 12px;
        margin: 0 0 30px 0;
    }
    .aj_div__alinhamento_campos_quantidade {
        font-size: 13px;
    }
    


    /* INICIO MENU INTERATIVO*/
    .menu_lateral{
        display: none;
        position: absolute;    
        flex-direction: column;
        z-index: 1;
        left: 50px;  
        top: 90px; 
    }
    .menu_lateral a {
        font-size: 10px;
        padding: 10px;  
    }
    .menu_lateral a img{
        width: 80px;
    }    
    .menu_barras svg{
        height: 40px;
    }
    
    .menu_lateral img {
        width: 50px;
    }
    .menu_barras{
        position: absolute;
        left: 10px;
        top: 90px;
        display: initial;   
    }
    hr {
        width: 60px;
        height: 2px;
        background-color: var(--branco);
    }
    
    /*MENU CADASTRO*/

.menu_lateral_cadastro{  
    font-size: 10px;
    position: absolute;
    left: 150px;
    top: 150px;  
} 
.menu_lateral_cadastro a {
    color: var(--branco);
    text-transform: uppercase;
    text-decoration: none;
    padding: 7px;
    font-size: 10px; 
} 

/*MENU ESTOQUE*/
 
.menu_lateral_estoque{
    font-size: 10px;
    position: absolute;
    left: 150px;
    top: 185px; 
} 
.menu_lateral_estoque a {
    color: var(--branco);
    text-transform: uppercase;
    text-decoration: none;
    padding: 7px;
    font-size: 10px; 
}    

/*MENU PEDIDOS*/
 
.menu_lateral_pedidos{
    font-size: 10px;
    position: absolute;
    left: 150px;
    top: 220px;  
} 
.menu_lateral_pedidos a {
    color: var(--branco);
    text-transform: uppercase;
    text-decoration: none;
    padding: 7px;
    font-size: 10px;  
} 

/*MENU RELATORIOS*/
 
.menu_lateral_relatorios {
    font-size: 10px;
    position: absolute;
    left: 150px;
    top: 250px;  
} 
.menu_lateral_relatorios a {
    color: var(--branco);
    text-transform: uppercase;
    text-decoration: none;
    padding: 7px;
    font-size: 10px; 
} 
   /* FINAL MENU INTERATIVO*/
    
}